body {
    font-family: 'Times New Roman', Times, serif, sans-serif; 
    margin: 1.5cm; 
    background: #f5f5f5; 
}

h1, h2 { 
    color: #333; 
}

table { 
    border-collapse: collapse; 
    width: 100%; 
    margin-top: 1cm; 
    background: rgb(255, 255, 255); 
}

th, td { 
    border: 1px solid #cccccc; 
    padding: 0.42cm; 
    text-align: left; 
}

th { 
    background-color: #9abdff; 
}

form { 
    margin-top: 0.84cm; 
    background: white; 
    padding: 0.42cm; 
    border: 1px solid #ddd; 
}

input, select { 
    margin: 0.3cm 0; 
    padding: 0.21cm; 
    width: 98%; 
}

button { 
    padding: 0.21cm 0.42cm; 
}

.reportes { 
    margin-top: 1.26cm; 
    background: white; 
    padding: 1cm; 
    border: 1px solid #ccc; 
}
